<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pong Canvas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <h1>J Pong</h1>
          </header>
          <hr style="margin: 25px" />
          <img id ="img_ball" class="img_ball" src="../public/images/ball.png">
          <div class="container">
            <canvas 
              ref="game"
              id="gameScreen" 
              width="800" 
              height="600"
              style="border:1px solid #000000"
            >
            </canvas>
          </div>
        <script type="module" src="../public/index.mjs" async defer></script>
    </body>
</html>